{% extends "jobs_manager_app/base.html" %}
{% load i18n %}


{% block content %}

<div class="row">
	<div class="col-md-2">
		<p style="margin-top: 60px">
			<span class="glyphicon glyphicon-book" style="color: green;"> </span> {% trans "Project:" %} <br>
			<a href="{% url 'jobs_manager_app:project_detail' assignment.project.id %}" class="link-project"> {{ assignment.project }}</a>
		</p>
		<br>
		<p>
			<span class="glyphicon glyphicon-pencil" style="color: green;"> </span> {% trans "Developer:" %} <br>
			<a href="{% url 'jobs_manager_app:user_detail' assignment.dev.id %}" class="link-user"> {{ assignment.dev.username }}</a>
		</p>
		<br>
		<p>
			<span class="glyphicon glyphicon-calendar" style="color: green;"> </span> {% trans "Created:" %} <br>
			{{ assignment.created }}
		</p>
			
	</div>
	
	<div class="col-md-7">
		<div class="row">
			<h3><span style="background-color: green; padding-right: 10px; margin-right: 8px;"> </span> {{ assignment.name }}</h3>
		</div>
		<div class="row">
			{% trans "Requirements:" %}<br>
			<div style="border: 1px solid gainsboro; border-radius: 6px; padding: 7px; margin-bottom: 4px; margin-left: 5px;">
				{{ assignment.requirements|linebreaksbr }}
			</div>
		</div>
		<div class="row">
			<span class="glyphicon glyphicon-euro" style="color: green;"> </span> {% trans "Price:" %} {{ assignment.price|default_if_none:"N/A" }}
			<div style="float: right">
				<span class="glyphicon glyphicon-time" style="color: green;"> </span> {% trans "ETA:" %} {{ assignment.eta|default_if_none:"N/A" }}
			</div>
		</div>
		
	</div>
	
	<div class="col-md-3">
		<div class="panel panel-{{ tag }}" style="margin-top: 20px">
			<div class="panel-heading">
				<h3 class="panel-title">
					{% trans "Status" %}
				</h3>
			</div>
			<div class="panel-body">
				<p>{% trans "State:" %} {{ assignment.int_state }} </p>
				{% if assignment.int_state != 5 %}
					<p>{% trans "Waiting for:" %} {{ assignment.int_state }} </p>
				{% endif %}{% if assignment.deal_comment %}
					{% if assignment.int_state == -1 %}
						{% trans "Rejection comment:" %}
					{% else %}
						{% trans "Confirmation comment:" %}
					{% endif %}
					<div style="border: 1px solid gainsboro; border-radius: 3px; padding: 2px; margin-bottom:10px">
						{{ assignment.deal_comment|linebreaksbr }}
					</div>
				{% endif %}{% if assignment.delivery_date %}
					<p>{% trans "Delivery date:" %} {{ assignment.delivery_date|default_if_none:"N/A" }} </p>
				{% endif %}{% if assignment.payment_date %}
					<p>{% trans "Payment date:" %} {{ assignment.payment_date|default_if_none:"N/A" }} </p>
				{% endif %}{% if assignment.close_date %}
					<p>{% trans "Close date:" %} {{ assignment.close_date|default_if_none:"N/A" }} </p>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- NEGOTIATION -->
	<div style="text-align: right; margin-right:15px">
		{% if assignment.int_state == 0 and assignment.dev == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#estimate"> {% trans "Estimate" %}</a>
		{% elif assignment.int_state == 1 and assignment.project.customer == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#confirm_estimate"> {% trans "Check Offer" %}</a>
		{% elif assignment.int_state == 2 and assignment.dev == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#complete_assignment"> {% trans "Complete" %}</a>
			<a href=# class="btn btn-md" style="background-color: darkred" data-toggle="modal" data-target="#hold"> {% trans "Hold" %}</a> 
		{% elif assignment.int_state == 3 and assignment.project.customer == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#pay_assignment"> {% trans "Pay" %}</a> 
			<a href=# class="btn btn-md" style="background-color: darkred" data-toggle="modal" data-target="#hold_payment"> {% trans "Hold payment" %}</a>
		{% elif assignment.int_state == 4 and assignment.dev == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#close_assignment"> {% trans "Close" %}</a>
		{% elif assignment.int_state == -1 and assignment.dev == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#estimate"> {% trans "Reevaluate" %}</a>
		{% elif assignment.int_state == -2 and assignment.dev == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#hold"> {% trans "Resume" %}</a>
		{% elif assignment.int_state == -3 and assignment.project.customer == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#pay_assignment"> {% trans "Pay" %}</a>
		{% endif %}
	</div>
	
	<!-- END NEGOTIATION -->
</div>

<br>
<br>
<hr>
<br>
<br>

<div class="row">
	<div class="col-md-6">
		<h3 style="margin-bottom:15px;">{% trans "Tasks" %} <a href="{% url 'jobs_manager_app:task_create' assignment.id %}" class="btn btn-md btn-task" style="float:right"> <span class="glyphicon glyphicon-plus create"></span></a></h3>
		
		{% for x in assignment.task_set.all %}
		<div class="panel panel-task">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="{% url 'jobs_manager_app:task_detail' x.id %}" >
						{{x.name}}
						{% if x.bool_completed %}{% trans "(Completed)" %}{% endif %}
					</a>
					{% if x.colaborator %}
						<div style="float: right">
							<a href="{% url 'jobs_manager_app:user_detail' x.colaborator.id %}" >{{ x.colaborator }}</a>
						</div>
					{% endif %}
				</h3>
			</div>
			<div class="panel-body">{{x.description|linebreaksbr}}</div>
		</div>
		{% endfor %}
	</div>
	
	<div class="col-md-6">
	
		<h3 style="text-align:right; padding-right:80px; padding-bottom:10px;">Comments</h3>
		{% for x in assignment.comment_set.all %}
			<div class="row">
				<div class="col-md-9">
					<div class="panel panel-{{ tag }}">
						<div class="panel-body">{{x.comment|linebreaksbr}}</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="row">
						{% if x.attachment %}
								<a href="{{ MEDIA_URL }}{{ x.attachment }}" title="{% trans "Attachment" %}"> <span class="glyphicon glyphicon-paperclip" style="color: green;"> </span> </a>
						{% endif %}
						{{ x.user }}
					</div>
					<div class="row" style="margin-top: 0.3em">
						{{ x.created }}
					</div>
				</div>
			</div>
		{% endfor %}
		
		<hr>
		<br>
		
		<form action="{% url 'jobs_manager_app:comment_from_assignment' assignment.id %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
			<div class="input-group">
				<span class="input-group-addon">{% trans "Comment" %}</span>
				<textarea rows="3" name="{{ comment_form.comment.name }}" class="form-control" placeholder="{% trans "Place your comment" %}" id="{{ form.comment.id_for_label }}">{{ comment_form.comment.value|default_if_none:"" }}</textarea>
			</div>
			<br>
			<div class="input-group" style="margin-left: 100px;">
				<input type="file" name="{{ comment_form.attachment.name }}" value="{{ comment_form.attachment.value }}" class="form-control" id="{{ form.attachment.id_for_label }}">
				<span class="input-group-addon">{% trans "Attachment" %}</span>
			</div>
			<br>
			<input type="submit" value="{% trans "Post" %}" class="btn" style="color: white; float: right;">
		</form>
		
	</div>
</div>


{% block modals %}


<div class="modal fade" id="estimate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_estimate' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					{{ estimation_form.as_p }}
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="confirm_estimate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_confirm_estimate' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					{{ deal_form }}
					<button class="btn btn-md btn-danger" style="float: right" type="submit" name="decision" value="rejected" >Reject</button>
				    <button class="btn btn-md btn-success" style="float: right" type="submit" name="decision" value="confirmed" >Confirm</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="complete_assignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_state_forward' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Are you sure you have completed the assignment?
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="pay_assignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_state_forward' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Have you paid the assignment?
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="close_assignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_state_forward' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Are you sure you want to close the assignment? No going back!
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="hold" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_toggle_hold' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Are you sure you want {% if assignment.int_state == -2 %}resume{% else %}hold{% endif %} the assignment?
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="hold_payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_hold_payment' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Are you sure you want to hold the payment?
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock modals %}


{% endblock content %}




