{% extends "jobs_manager_app/base.html" %}

{% block content %}
<table class="table table-hover table-condensed">
	<tr>
		<th>Name</th>
		<th>Project</th>
		<th>Dev</th>
		<th>State</th>
		<th>Price</th>
		<th>ETA</th>
		<th>Created</th>
	</tr>
	<tr>
		<td>
			<a href="{% url 'jobs_manager_app:assignment_detail' assignment.id %}"> {{ assignment.name }}</a>
		</td>
		<td>
			<a href="{% url 'jobs_manager_app:project_detail' assignment.project.id %}">{{ assignment.project.name }}</a>
		</td>
		<td>{{ assignment.dev }}</td>
		<td>{{ assignment.get_int_state_display }}</td>
		<td>{{ assignment.price }}</td>
		<td>{{ assignment.eta }}</td>
		<td>{{ assignment.created }}</td>
	</tr>
</table>

<!-- NEGOTIATION -->

{% if assignment.int_state == 0 and assignment.dev == request.user %}
	<a href=# data-toggle="modal" data-target="#estimate"> Estimate!</a>
{% elif assignment.int_state == 1 and assignment.project.customer == request.user %}
	<a href=# data-toggle="modal" data-target="#confirm_estimate"> Check Offer!</a>
{% elif assignment.int_state == 2 and assignment.dev == request.user %}
	<a href=# data-toggle="modal" data-target="#hold"> Hold assignment</a> <br>
	<a href=# data-toggle="modal" data-target="#complete_assignment"> Complete assignment</a>
{% elif assignment.int_state == 3 and assignment.project.customer == request.user %}
	<a href=# data-toggle="modal" data-target="#pay_assignment"> Pay assignment</a><br>
	<a href=# data-toggle="modal" data-target="#hold_payment"> Hold payment</a>
{% elif assignment.int_state == 4 and assignment.dev == request.user %}
	<a href=# data-toggle="modal" data-target="#close_assignment"> Close assignment</a>
{% elif assignment.int_state == -1 and assignment.dev == request.user %}
	<a href=# data-toggle="modal" data-target="#estimate"> Make another offer!</a>
{% elif assignment.int_state == -2 and assignment.dev == request.user %}
	<a href=# data-toggle="modal" data-target="#hold"> Resume assignment</a>
{% elif assignment.int_state == -3 and assignment.project.customer == request.user %}
	<a href=# data-toggle="modal" data-target="#pay_assignment"> Pay assignment</a>
{% endif %}

<!-- END NEGOTIATION -->


<div class="row">
	<a href="{% url 'jobs_manager_app:task_create' assignment.id %}" class="btn btn-md btn-primary" style="float:right"> <span class="glyphicon glyphicon-plus create"> task</span></a>
</div>

<br>

<div class="row">
	<div class="col-md-6">
		<h3 style="padding-bottom:10px;">Tasks</h3>
		{% for x in assignment.task_set.all %}
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="{% url 'jobs_manager_app:task_detail' x.id %}" >
						{{x.name}}
					</a>
				</h3>
			</div>
			<div class="panel-body">{{x.description|linebreaksbr}}</div>
		</div>
		{% endfor %}
	</div>
	
	<div class="col-md-6">
	
		<h3 style="text-align:right; padding-right:80px; padding-bottom:10px;">Comments</h3>
		{% for x in assignment.comment_set.all %}
			<div class="row">
				<div class="col-md-10">
					<div class="panel panel-primary">
						<div class="panel-body">{{x.comment|linebreaksbr}}</div>
					</div>
				</div>
				<div class="col-md-2">
					{{ x.user }}
				</div>
				{% if x.attachment %}
					<div class="row">
						<a href="{{ x.attachment.url }}">tutu</a>
					</div>
				{% endif %}
			</div>
		{% endfor %}
		<form action="{% url 'jobs_manager_app:comment_from_assignment' assignment.id %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		    {% for field in comment_form %}
		        <div class="fieldWrapper">
		            {{ field.errors }}
		            {{ field.label_tag }}  {{ field }}
		        </div>
		    {% endfor %}
		    <p><input type="submit" value="Send message" /></p>
		</form>
		
	</div>
</div>

{% block modals %}


<div class="modal fade" id="estimate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_estimate' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					{{ estimation_form.as_p }}
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="confirm_estimate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_confirm_estimate' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					{{ deal_form }}
					<button class="btn btn-md btn-danger" style="float: right" type="submit" name="decision" value="rejected" >Reject</button>
				    <button class="btn btn-md btn-success" style="float: right" type="submit" name="decision" value="confirmed" >Confirm</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="complete_assignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_state_forward' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Are you sure you have completed the assignment?
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="pay_assignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_state_forward' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Have you paid the assignment?
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="close_assignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_state_forward' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Are you sure you want to close the assignment? No going back!
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="hold" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_toggle_hold' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Are you sure you want {% if assignment.int_state == -2 %}resume{% else %}hold{% endif %} the assignment?
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="hold_payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_hold_payment' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Are you sure you want to hold the payment?
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock modals %}


{% endblock content %}




