{% extends "jobs_manager_app/base.html" %}
{% load i18n %}

{% block content %}

{% if assignment_list.paginator.num_pages > 1 %}
<nav>
  <ul class="pagination" style="float: right; margin-top: 0px;">
        {% if assignment_list.has_previous %}
			<li><a href="?page={{ assignment_list.previous_page_number }}" style="color: green">&laquo;</a></li>
		{% else %}
			<li class="disabled"><span>&laquo;</span></li>
        {% endif %}
		
		{% for number in assignment_list.paginator.page_range %}
			{% if assignment_list.number == number %}
				<li class="active"><a href="#" style="background-color: green; border-color: lightgreen">{{ number }}</a></li>
			{% else %}
				<li><a href="?page={{ number }}" style="color: green;">{{ number }}</a></li>
			{% endif %}
		{% endfor %}
		
        {% if assignment_list.has_next %}
            <li><a href="?page={{ assignment_list.next_page_number }}" style="color: green;"> &raquo;</a></li>
		{% else %}
			<li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<table class="table table-hover table-condensed">
	<tr>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Project" %}</th>
		<th>{% trans "Dev" %}</th>
		<th>{% trans "State" %}</th>
		<th>{% trans "Price (€)" %}</th>
		<th>{% trans "ETA" %}</th>
		<th>{% trans "Action" %}</th>
		<th>{% trans "Created" %}</th>
	</tr>
	{% for assignment in assignment_list %}
	<tr>
		<td>
			<a href="{% url 'jobs_manager_app:assignment_detail' assignment.id %}"> {{ assignment.name }}</a>
		</td>
		<td>
			<a href="{% url 'jobs_manager_app:project_detail' assignment.project.id %}" class="link-project">{{ assignment.project.name }}</a>
		</td>
		<td><a href="{% url 'jobs_manager_app:user_detail' assignment.dev.id %}" class="link-user">{{ assignment.dev }}</td>
		<td>{{ assignment.get_int_state_display.state }}</td>
		<td>{{ assignment.price|default_if_none:"N/A" }}</td>
		<td>{{ assignment.eta|default_if_none:"N/A" }}</td>
		<td>
			<a href="{% url 'jobs_manager_app:assignment_update' assignment.id %}"> <span class="glyphicon glyphicon-edit edit"></span></a>
			<a href=# data-toggle="modal" data-target="#delete-{{ assignment.id }}"> <span class="glyphicon glyphicon-remove delete"></span></a>
		</td>
		<td>{{ assignment.created }}</td>
	</tr>
	
	<div class="modal fade" id="delete-{{ assignment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">{{ assignment.name }}</h4>
				</div>
				<div class="modal-body">
					<form action="{% url 'jobs_manager_app:assignment_delete' assignment.id %}" method="post" role="form">
						{% csrf_token %}
					    {% trans "Are you sure you want to delete this assignment?" %}
					    <div style="text-align: right">
					    	<button class="btn" style="background-color: darkred; color: white;" type="submit">{% trans "Delete" %}</button>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</table>
{% endblock content %}
