{% extends "jobs_manager_app/base.html" %}
{% load i18n %}


{% block content %}

<div class="row">
	<div class="col-md-2">
		<p style="margin-top: 40px">
			{% trans "Project:" %} <br>
			<a href="{% url 'jobs_manager_app:project_detail' assignment.project.id %}" class="link-project"> {{ assignment.project }}</a>
		</p>
		<p>
			{% trans "Developer:" %} <br>
			<a href="{% url 'jobs_manager_app:user_detail' assignment.dev.id %}" class="link-user"> {{ assignment.dev.username }}</a>
		</p>
			
	</div>
	
	<div class="col-md-7">
		<div class="row">
			<h3>{{ assignment.name }}</h3>
		</div>
		<div class="row">
			{% trans "Requirements:" %}<br>
			<div style="border: 1px solid gainsboro; border-radius: 6px; padding: 7px; margin-bottom: 4px">
				{{ assignment.requirements|linebreaksbr }}
			</div>
		</div>
		<div class="row">
			{% trans "Price:" %} {{ assignment.price|default_if_none:"N/A" }} €
			<div style="float: right">
				{% trans "ETA:" %} {{ assignment.eta|default_if_none:"N/A" }}
			</div>
		</div>
		
	</div>
	
	<div class="col-md-3">
		<div class="panel panel-{{ tag }}" style="margin-top: 20px">
			<div class="panel-heading">
				<h3 class="panel-title">
					{% trans "Status" %}
				</h3>
			</div>
			<div class="panel-body">
				<p>{% trans "State:" %} {{ assignment.int_state }} </p>
				{% if assignment.int_state != 5 %}
					<p>{% trans "Waiting for:" %} {{ assignment.int_state }} </p>
				{% endif %}{% if assignment.delivery_date %}
					<p>{% trans "Delivery date:" %} {{ assignment.delivery_date|default_if_none:"N/A" }} </p>
				{% endif %}{% if assignment.payment_date %}
					<p>{% trans "Payment date:" %} {{ assignment.payment_date|default_if_none:"N/A" }} </p>
				{% endif %}{% if assignment.close_date %}
					<p>{% trans "Close date:" %} {{ assignment.close_date|default_if_none:"N/A" }} </p>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- NEGOTIATION -->
	<div style="text-align: right; margin-right:15px">
		{% if assignment.int_state == 0 and assignment.dev == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#estimate"> {% trans "Estimate" %}</a>
		{% elif assignment.int_state == 1 and assignment.project.customer == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#confirm_estimate"> {% trans "Check Offer" %}</a>
		{% elif assignment.int_state == 2 and assignment.dev == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#complete_assignment"> {% trans "Complete" %}</a>
			<a href=# class="btn btn-md" style="background-color: darkred" data-toggle="modal" data-target="#hold"> {% trans "Hold" %}</a> 
		{% elif assignment.int_state == 3 and assignment.project.customer == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#pay_assignment"> {% trans "Pay" %}</a> 
			<a href=# class="btn btn-md" style="background-color: darkred" data-toggle="modal" data-target="#hold_payment"> {% trans "Hold payment" %}</a>
		{% elif assignment.int_state == 4 and assignment.dev == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#close_assignment"> {% trans "Close" %}</a>
		{% elif assignment.int_state == -1 and assignment.dev == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#estimate"> {% trans "Reevaluate" %}</a>
		{% elif assignment.int_state == -2 and assignment.dev == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#hold"> {% trans "Resume" %}</a>
		{% elif assignment.int_state == -3 and assignment.project.customer == request.user %}
			<a href=# class="btn btn-md" style="background-color: green" data-toggle="modal" data-target="#pay_assignment"> {% trans "Pay" %}</a>
		{% endif %}
	</div>
	
	<!-- END NEGOTIATION -->
</div>

<br>
<hr>
<br>

<div class="row">
	<div class="col-md-6">
		<h3 style="margin-bottom:15px;">Tasks <a href="{% url 'jobs_manager_app:task_create' assignment.id %}" class="btn btn-md btn-task" style="float:right"> <span class="glyphicon glyphicon-plus create"></span></a></h3>
		
		{% for x in assignment.task_set.all %}
		<div class="panel panel-task">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="{% url 'jobs_manager_app:task_detail' x.id %}" >
						{{x.name}}
					</a>
				</h3>
			</div>
			<div class="panel-body">{{x.description|linebreaksbr}}</div>
		</div>
		{% endfor %}
	</div>
	
	<div class="col-md-6">
	
		<h3 style="text-align:right; padding-right:80px; padding-bottom:10px;">Comments</h3>
		{% for x in assignment.comment_set.all %}
			<div class="row">
				<div class="col-md-10">
					<div class="panel panel-{{ tag }}">
						<div class="panel-body">{{x.comment|linebreaksbr}}</div>
					</div>
				</div>
				<div class="col-md-2">
					{{ x.user }}
				</div>
				{% if x.attachment %}
					<div class="row">
						<a href="{{ x.attachment.url }}">tutu</a>
					</div>
				{% endif %}
			</div>
		{% endfor %}
		<form action="{% url 'jobs_manager_app:comment_from_assignment' assignment.id %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		    {% for field in comment_form %}
		        <div class="fieldWrapper">
		            {{ field.errors }}
		            {{ field.label_tag }}  {{ field }}
		        </div>
		    {% endfor %}
		    <p><input type="submit" value="Send message" /></p>
		</form>
		
	</div>
</div>


{% block modals %}


<div class="modal fade" id="estimate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_estimate' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					{{ estimation_form.as_p }}
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="confirm_estimate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_confirm_estimate' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					{{ deal_form }}
					<button class="btn btn-md btn-danger" style="float: right" type="submit" name="decision" value="rejected" >Reject</button>
				    <button class="btn btn-md btn-success" style="float: right" type="submit" name="decision" value="confirmed" >Confirm</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="complete_assignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_state_forward' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Are you sure you have completed the assignment?
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="pay_assignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_state_forward' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Have you paid the assignment?
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="close_assignment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_state_forward' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Are you sure you want to close the assignment? No going back!
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="hold" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_toggle_hold' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Are you sure you want {% if assignment.int_state == -2 %}resume{% else %}hold{% endif %} the assignment?
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="hold_payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<form action="{% url 'jobs_manager_app:assignment_hold_payment' assignment.id %}" method="post" role="form">
					{% csrf_token %}
					Are you sure you want to hold the payment?
				    <button class="btn btn-md btn-warning" style="float: right" type="submit">Send</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock modals %}


{% endblock content %}




