{% extends "jobs_manager_app/base.html" %}
{% load i18n %}

{% block content %}

{% if project_list.paginator.num_pages > 1 %}
<nav>
  <ul class="pagination" style="float: right; margin-top: 0px;">
        {% if project_list.has_previous %}
			<li><a href="?page={{ project_list.previous_page_number }}" style="color: darkblue">&laquo;</a></li>
		{% else %}
			<li class="disabled"><span>&laquo;</span></li>
        {% endif %}
		
		{% for number in project_list.paginator.page_range %}
			{% if project_list.number == number %}
				<li class="active"><a href="#" style="background-color: darkblue; border-color: lightblue">{{ number }}</a></li>
			{% else %}
				<li><a href="?page={{ number }}" style="color: darkblue;">{{ number }}</a></li>
			{% endif %}
		{% endfor %}
		
        {% if project_list.has_next %}
            <li><a href="?page={{ project_list.next_page_number }}" style="color: darkblue;"> &raquo;</a></li>
		{% else %}
			<li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<table class="table table-hover table-condensed">
	<tr>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Customer" %}</th>
		<th>{% trans "Website" %}</th>
		<th>{% trans "Action" %}</th>
		<th>{% trans "Created" %}</th>
	</tr>
	{% for project in project_list %}
	<tr>
		<td>
			<a href="{% url 'jobs_manager_app:project_detail' project.id %}"> {{ project.name }}</a>
		</td>
		<td><a href="{% url 'jobs_manager_app:user_detail' project.customer.id %}" class="link-user">{{ project.customer }}</td>
		<td><a href="{{ project.website }}" target="blank"> {{ project.website }} </a> </td>
		<td>
			<a href="{% url 'jobs_manager_app:project_update' project.id %}"> <span class="glyphicon glyphicon-edit edit"></span></a>
			<a href=# data-toggle="modal" data-target="#delete-{{ project.id }}"> <span class="glyphicon glyphicon-remove delete"></span></a>
		</td>
		<td>{{ project.created }}</td>
	</tr>

	<div class="modal fade" id="delete-{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form action="{% url 'jobs_manager_app:project_delete' project.id %}" method="post">{% csrf_token %}
					    <p style="text-align: center">Are you sure you want to delete the "{{ project.name }} project"?</p>
					    <button class="btn btn-md btn-danger" style="float: right" type="submit">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</table>

<a href="{% url 'jobs_manager_app:project_create' %}" class="btn btn-md btn-{{ tag }}" style="float:right"> <span class="glyphicon glyphicon-plus create"></span></a>

{% endblock content %}
