{% extends "jobs_manager_app/base.html" %} {% block content %}

<table class="table table-hover table-condensed">
	<tr>
		<th>Name</th>
		<th>Customer</th>
		<th>Website</th>
		<th># assignments</th>
		<th>Action</th>
		<th>Created</th>
	</tr>
	{% for project in project_list %}
	<tr>
		<td>
			<a href="{% url 'jobs_manager_app:project_detail' project.id %}"> {{ project.name }}</a>
		</td>
		<td>{{ project.customer }}</td>
		<td>{{ project.website }}</td>
		<td>{{ project.assignment_set.count }}</td>
		<td>
			<a href="{% url 'jobs_manager_app:project_update' project.id %}"> <span class="glyphicon glyphicon-edit edit"></span></a>
		<a href=# data-toggle="modal" data-target="#delete-{{ project.id }}"> <span class="glyphicon glyphicon-remove delete"></span></a>
		</td>
		<td>{{ project.created }}</td>
	</tr>

	<div class="modal fade" id="delete-{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form action="{% url 'jobs_manager_app:project_delete' project.id %}" method="post">{% csrf_token %}
					    <p style="text-align: center">Are you sure you want to delete the "{{ project.name }} project"?</p>
					    <button class="btn btn-md btn-danger" style="float: right" type="submit">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</table>

<a href="{% url 'jobs_manager_app:project_create' %}" class="btn btn-md btn-{{ tag }}" style="float:right"> <span class="glyphicon glyphicon-plus create"></span></a>

{% endblock content %}
