{% extends "jobs_manager_app/base.html" %} 

{% block back_link %}
	<a href="{% url 'jobs_manager_app:project_index' %}" >Back</a>
{% endblock back_link %}



{% block content %}

{% if project_id %}
<form action="{% url 'jobs_manager_app:project_update' project_id %}" method="post">
{% else %}
<form action="{% url 'jobs_manager_app:project_create' %}" method="post">
{% endif %}
{% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
        	{{ field.errors }}
            {{ field.label_tag }}  {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Send message" /></p>
</form>
{% endblock content %}