{% extends "jobs_manager_app/base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
	<div class="col-md-2">
		<p style="margin-top: 60px">
			<span class="glyphicon glyphicon-book" style="color: goldenrod;"> </span> {% trans "Project:" %} <br>
			<a href="{% url 'jobs_manager_app:project_detail' task.assignment.project.id %}" class="link-project"> {{ task.assignment.project }}</a>
		</p>
		<p>
			<span class="glyphicon glyphicon-pushpin" style="color: goldenrod;"> </span> {% trans "Assignment:" %} <br>
			<a href="{% url 'jobs_manager_app:assignment_detail' task.assignment.id %}" class="link-assignment"> {{ task.assignment }}</a>
		</p>
		<br>
		<p>
			<span class="glyphicon glyphicon-pencil" style="color: goldenrod;"> </span> {% trans "Dev:" %} <br>
			<a href="{% url 'jobs_manager_app:user_detail' task.assignment.dev.id %}" class="link-user"> {{ task.assignment.dev.username }}</a>
		</p>
		{% if task.colaborator %}
			<p>
				<span class="glyphicon glyphicon-thumbs-up" style="color: goldenrod;"> </span> {% trans "Colaborator:" %} <br>
				<a href="{% url 'jobs_manager_app:user_detail' task.colaborator.id %}" class="link-user"> {{ task.colaborator.username }}</a>
			</p>
		{% endif %}
		<br>
		<p>
			<span class="glyphicon glyphicon-calendar" style="color: goldenrod;"> </span> {% trans "Created:" %} <br>
			{{ task.created }}
		</p>
			
	</div>
	
	<div class="col-md-8">
		<div class="row">
			<h3><span style="background-color: goldenrod; padding-right: 10px; margin-right: 8px;"> </span> {{ task.name }}</h3>
		</div>
		<div class="row">
			{% trans "Description:" %}<br>
			<div style="border: 1px solid gainsboro; border-radius: 6px; padding: 7px; margin-bottom: 4px; margin-left: 5px;">
				{{ task.description|linebreaksbr }}
			</div>
		</div>
		<div class="row">
		{% trans "Priority:" %} {{ task.priority }}
			<div style="float: right">
				{% if task.bool_completed %}<span class="glyphicon glyphicon-lock" style="color: goldenrod;"></span> <strong>{% trans "Completed" %}</strong>{% endif %}
			</div>
		</div>
		
	</div>
	<div class="col-md-2"></div>
</div>

<br>
<br>
<hr>
<br>
<br>




<h3 style="padding-bottom:10px;">Comments</h3>
{% for x in task.comment_set.all %}
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-{{tag}}">
				<div class="panel-body">{{x.comment|linebreaksbr}}</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="row">
				{% if x.attachment %}
						<a href="{{ MEDIA_URL }}{{ x.attachment }}" title="{% trans "Attachment" %}"> <span class="glyphicon glyphicon-paperclip" style="color: goldenrod;"> </span> </a>
				{% endif %}
				{{ x.user }}
			</div>
			<div class="row" style="margin-top: 0.3em">
				{{ x.created }}
			</div>
		</div>
	</div>
{% endfor %}
{% endblock content %}



{% block form %}
<hr>
<br>

<form action="{% url 'jobs_manager_app:comment_from_task' task.id %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
	<div class="input-group"">
		<span class="input-group-addon">{% trans "Comment" %}</span>
		<textarea rows="3" name="{{ comment_form.comment.name }}" class="form-control" placeholder="{% trans "Place your comment" %}" id="{{ form.comment.id_for_label }}">{{ comment_form.comment.value|default_if_none:"" }}</textarea>
	</div>
	<br>
	<div class="input-group" style="margin-left: 50rem;">
		<input type="file" name="{{ comment_form.attachment.name }}" value="{{ comment_form.attachment.value }}" class="form-control" id="{{ form.attachment.id_for_label }}">
		<span class="input-group-addon">{% trans "Attachment" %}</span>
	</div>
	<br>
	<input type="submit" value="{% trans "Post" %}" class="btn" style="color: white; float: right;">
</form>

{% endblock form %}