{% extends "jobs_manager_app/base.html" %}

{% block back_link %}
	<a href="{% url 'jobs_manager_app:task_index' %}" >Back</a>
{% endblock back_link %} 

{% block content %}
<table class="table table-hover table-condensed">
	<tr>
		<th>Name</th>
		<th>Assignment</th>
		<th>Dev</th>
		<th>Colaborator</th>
		<th>Priority</th>
		<th>Closed?</th>
		<th>Created</th>
	</tr>
	<tr>
		<td>{{ task.name }}</td>
		<td>
			<a href="{% url 'jobs_manager_app:project_detail' task.assignment.id %}">{{ task.assignment.name }}</a>
		</td>
		<td>{{ task.assignment.dev }}</td>
		<td>{{ task.colaborator }}</td>
		<td>{{ task.priority }}</td>
		<td>{{ task.bool_completed }}</td>
		<td>{{ task.created }}</td>
	</tr>
</table>
<h3 style="padding-bottom:10px;">Comments</h3>
{% for x in task.comment_set.all %}
	<div class="row">
		<div class="col-md-10">
			<div class="panel panel-primary">
				<div class="panel-body">{{x.comment|linebreaksbr}}</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="row">
				{{ x.user }}
			</div>
			{% if x.attachment %}
				<div class="row">
					<a href="{{ MEDIA_URL }}{{ x.attachment }}">tutu</a>
				</div>
			{% endif %}
		</div>
	</div>
{% endfor %}
{% endblock content %}

{% block form %}

<form action="{% url 'jobs_manager_app:comment_from_task' task.id %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    {% for field in comment_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}  {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Send message" /></p>
</form>

{% endblock form %}