{% extends "jobs_manager_app/base.html" %} {% block content %}


<table class="table table-hover table-condensed">
	<tr>
		<th>Name</th>
		<th>Assignment</th>
		<th>Dev</th>
		<th>Colaborator</th>
		<th>Priority</th>
		<th>State <a>(info)</a></th>
		<th>Action</th>
		<th>Created</th>
	</tr>
	{% for task in task_list %}
	<tr>
		<td>
			<a href="{% url 'jobs_manager_app:task_detail' task.id %}"> {{ task.name }}</a>
		</td>
		<td>
			<a href="{% url 'jobs_manager_app:project_detail' task.assignment.id %}">{{ task.assignment.name }}</a>
		</td>
		<td>{{ task.assignment.dev }}</td>
		<td>{{ task.colaborator }}</td>
		<td>{{ task.priority }}</td>
		<td>{{ task.bool_completed }}</td>
		<td>
			<a href="{% url 'jobs_manager_app:task_update' task.id %}"> <span class="glyphicon glyphicon-edit edit"></span></a>
			<a href=# data-toggle="modal" data-target="#delete-{{ task.id }}"> <span class="glyphicon glyphicon-remove delete"></span></a>
		</td>
		<td>{{ task.created }}</td>
	</tr>
	
	<div class="modal fade" id="delete-{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form action="{% url 'jobs_manager_app:task_delete' task.id %}" method="post" role="form">
						{% csrf_token %}
					    <p style="text-align: center">Are you sure you want to delete the "{{ task.name }} task"?</p>
					    <button class="btn btn-md btn-danger" style="float: right" type="submit">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</table>
{% endblock content %}
