{% extends "jobs_manager_app/base.html" %}
{% load i18n %}

{% block content %}

{% if task_list.paginator.num_pages > 1 %}
<nav>
  <ul class="pagination" style="float: right; margin-top: 0px;">
        {% if task_list.has_previous %}
			<li><a href="?page={{ task_list.previous_page_number }}" style="color: goldenrod">&laquo;</a></li>
		{% else %}
			<li class="disabled"><span>&laquo;</span></li>
        {% endif %}
		
		{% for number in task_list.paginator.page_range %}
			{% if task_list.number == number %}
				<li class="active"><a href="#" style="background-color: goldenrod; border-color: gold">{{ number }}</a></li>
			{% else %}
				<li><a href="?page={{ number }}" style="color: goldenrod;">{{ number }}</a></li>
			{% endif %}
		{% endfor %}
		
        {% if task_list.has_next %}
            <li><a href="?page={{ task_list.next_page_number }}" style="color: goldenrod;"> &raquo;</a></li>
		{% else %}
			<li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<table class="table table-hover table-condensed">
	<tr>
		<th>{% trans "Name" %}</th>
		<th>{% trans "Assignment" %}</th>
		<th>{% trans "Dev" %}</th>
		<th>{% trans "Colaborator" %}</th>
		<th>{% trans "Priority" %}</th>
		<th>{% trans "State" %} <a>({% trans "info" %})</a></th>
		<th>{% trans "Action" %}</th>
		<th>{% trans "Created" %}</th>
	</tr>
	{% for task in task_list %}
	<tr>
		<td>
			<a href="{% url 'jobs_manager_app:task_detail' task.id %}"> {{ task.name }}</a>
		</td>
		<td>
			<a href="{% url 'jobs_manager_app:assignment_detail' task.assignment.id %}" class="link-assignment">{{ task.assignment.name }}</a>
		</td>
		<td><a href="{% url 'jobs_manager_app:user_detail' task.assignment.dev.id %}" class="link-user">{{ task.assignment.dev }}</a></td>
		<td><a href="{% url 'jobs_manager_app:user_detail' task.colaborator.id %}" class="link-user">{{ task.colaborator }}</a></td>
		<td>{{ task.priority }}</td>
		<td>{{ task.bool_completed }}</td>
		<td>
			<a href="{% url 'jobs_manager_app:task_update' task.id %}"> <span class="glyphicon glyphicon-edit edit"></span></a>
			<a href=# data-toggle="modal" data-target="#delete-{{ task.id }}"> <span class="glyphicon glyphicon-remove delete"></span></a>
		</td>
		<td>{{ task.created }}</td>
	</tr>
	
	<div class="modal fade" id="delete-{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form action="{% url 'jobs_manager_app:task_delete' task.id %}" method="post" role="form">
						{% csrf_token %}
					    <p style="text-align: center">Are you sure you want to delete the "{{ task.name }} task"?</p>
					    <button class="btn btn-md btn-danger" style="float: right" type="submit">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</table>
{% endblock content %}
