{% extends "jobs_manager_app/base.html" %}

{% block back_link %}
	<a href="{% url 'jobs_manager_app:task_index' %}" >Back</a>
{% endblock back_link %} 

{% block content %}
<table class="table table-hover table-condensed">
	<tr>
		<th>Name</th>
		<th>Assignment</th>
		<th>Dev</th>
		<th>Colaborator</th>
		<th>Priority</th>
		<th>Closed?</th>
		<th>Created</th>
	</tr>
	<tr>
		<td>
			<a href="{% url 'jobs_manager_app:task_detail' task.id %}"> {{ task.name }}</a>
		</td>
		<td>
			<a href="{% url 'jobs_manager_app:project_detail' task.assignment.id %}">{{ task.assignment.name }}</a>
		</td>
		<td>{{ task.assignment.dev }}</td>
		<td>{{ task.colaborator }}</td>
		<td>{{ task.priority }}</td>
		<td>{{ task.bool_completed }}</td>
		<td>{{ task.created }}</td>
	</tr>
</table>

<div class="row">
	<br> {% for x in task.task_set.all %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">{{x.name}}</h3>
		</div>
		<div class="panel-body">{{x.description|linebreaksbr}}</div>
	</div>
	{% endfor %}
</div>

{% endblock content %}