{% extends "jobs_manager_app/base.html" %} {% block content %}

<div class="row"
	style="font-weight: bold; border-bottom: 1px solid grey; margin-bottom: 2px;">
	<div class="col-md-2">name</div>
	<div class="col-md-2">Project</div>
	<div class="col-md-2">State</div>
	<div class="col-md-2"># task</div>
	<div class="col-md-2">action</div>
	<div class="col-md-2">created</div>
</div>
{% for task in task_list %}
<div class="row">
	<div class="col-md-2">
		<a href="{% url 'jobs_manager_app:task_detail' task.id %}"> {{ task.name }}</a>
	</div>
	<div class="col-md-2">{{ task.project.name }}</div>
	<div class="col-md-2">{{ task.int_state }}</div>
	<div class="col-md-2">{{ task.task_set.count }}</div>
	<div class="col-md-2">
		<a href="{% url 'jobs_manager_app:task_update' task.id %}"> <span class="glyphicon glyphicon-edit edit"></span></a>
		<a href="{% url 'jobs_manager_app:task_delete' task.id %}"> <span class="glyphicon glyphicon-remove delete"></span></a>
	</div>
	<div class="col-md-2">{{ task.created }}</div>
</div>
{% endfor %}
<hr>

<a href="{% url 'jobs_manager_app:task_update' %}" class="btn btn-md btn-primary" style="float:right"> <span class="glyphicon glyphicon-plus create"></span></a>

{% endblock content %}
