{% extends "jobs_manager_app/base.html" %}

{% block back_link %}
	<a href="{% url 'jobs_manager_app:user_index' %}" >Back</a>
{% endblock back_link %} 

{% block content %}
<table class="table table-hover table-condensed">
	<tr>
		<th>Username</th>
		<th>Group</th>
		<th>Last name</th>
		<th>First name</th>
		<th>email</th>
		<th># projects</th>
		<th># assignations</th>
		<th># collaborations</th>
		<th># comments</th>
		<th>Since</th>
	</tr>
	<tr>
		<td>
			<a href="{% url 'jobs_manager_app:user_detail' user.id %}"> {{ user.username }}</a>
		</td>
		<td>
			{{ user.groups.first }}
		</td>
		<td>{{ user.last_name }}</td>
		<td>{{ user.first_name }}</td>
		<td>{{ user.email }}</td>
		<td>{{ user.project_set.count }}</td>
		<td>{{ user.assignment_set.count }}</td>
		<td>{{ user.task_set.count }}</td>
		<td>{{ user.comment_set.count }}</td>
		<td>{{ user.date_joined|date:"M, Y" }}</td>
	</tr>
</table>

{% if user.project_set.count != 0 %}
	<div class="row">
		<h3 style="padding-bottom:10px;">Projects</h3>
		{% for x in user.project_set.all %}
		<div class="panel panel-project">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="{% url 'jobs_manager_app:project_detail' x.id %}" >
						{{x.name}}
					</a>
				</h3>
			</div>
			<div class="panel-body">{{x.description|linebreaksbr}}</div>
		</div>
		{% endfor %}
	</div>
{% endif %}

{% if user.assignment_set.count != 0 %}
	<div class="row">
		<h3 style="padding-bottom:10px;">Assignments</h3>
		{% for x in user.assignment_set.all %}
		<div class="panel panel-assignment">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="{% url 'jobs_manager_app:assignment_detail' x.id %}" >
						{{x.name}}
					</a>
				</h3>
			</div>
			<div class="panel-body">{{x.requirements|linebreaksbr}}</div>
		</div>
		{% endfor %}
	</div>
{% endif %}

{% if user.task_set.count != 0 %}
	<div class="row">
		<h3 style="padding-bottom:10px;">Tasks</h3>
		{% for x in user.task_set.all %}
		<div class="panel panel-task">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="{% url 'jobs_manager_app:task_detail' x.id %}" >
						{{x.name}}
					</a>
				</h3>
			</div>
			<div class="panel-body">{{x.description|linebreaksbr}}</div>
		</div>
		{% endfor %}
	</div>
{% endif %}

{% endblock content %}
