{% extends "jobs_manager_app/base.html" %}
{% load i18n %}

{% block content %}


<table class="table table-hover table-condensed">
	<tr>
		<th>{% trans "Username" %}</th>
		<th>{% trans "Group" %}</th>
		<th>{% trans "Last name" %}</th>
		<th>{% trans "First name" %}</th>
		<th>{% trans "email" %}</th>
		<th>{% trans "# projects" %}</th>
		<th>{% trans "# assignations" %}</th>
		<th>{% trans "# collaborations" %}</th>
		<th>{% trans "# comments" %}</th>
		<th>{% trans "Joined" %}</th>
	</tr>
	{% for user in user_list %}
	<tr>
		<td>
			<a href="{% url 'jobs_manager_app:user_detail' user.id %}"> {{ user.username }}</a>
		</td>
		<td>{{ user.groups.first }}</td>
		<td>{{ user.last_name }}</td>
		<td>{{ user.first_name }}</td>
		<td>{{ user.email }}</td>
		<td>{{ user.project_set.count }}</td>
		<td>{{ user.assignment_set.count }}</td>
		<td>{{ user.task_set.count }}</td>
		<td>{{ user.comment_set.count }}</td>
		<td>{{ user.date_joined|date:"M, Y" }}</td>
	</tr>
	{% endfor %}
</table>

{% endblock content %}
